# PYTHON

Python adalah bahasa pemrograman yang banyak digunakan dalam aplikasi web, pengembangan perangkat lunak, ilmu data dan machine learning(ML).

In [3]:
#Python bisa digunakan utuk kalkulator
50+32

82

In [4]:
70/2

35.0

# TIPE DATA

# Integer

In [5]:
1234

1234

In [6]:
-354

-354

In [10]:
print(20)
print(type(20))

20
<class 'int'>

# Float : bilangan desimal

In [7]:
2.3

2.3

In [12]:
print(4.2)
print(0.4)
print(type(0.4))
print(.4)
print(.4e7)
print(4.2e-4)

4.2
0.4
<class 'float'>
0.4
4000000.0
0.00042

# String : kata

In [15]:
print("Hello word")
print("1234")
print("Hacktiv8")
print('This string contains a quote(")')
print("This string contains a quote(')")
print(type("Hello word"))

Hello word
1234
Hacktiv8
This string contains a quote(")
This string contains a quote(')
<class 'str'>

# Boolean
Untuk Menyatakan nilai suatu data (true/false)

In [17]:
print(True)
print(False)
print(type(True))

True
False
<class 'bool'>

# Variabel Assignment
Untuk mendefinisikan nilai dari suatu variabel, dinyatakan dengan tanda (=),
Nilainya bisa diubah-ubah

In [18]:
x = 300

In [19]:
print(x)

300

In [20]:
x = 300 + 65
print(x)

365

In [21]:
a=b=c=300
print(a)
print(b)
print(c)

300
300
300

In [22]:
print(type(a))

<class 'int'>

# Tipe Variabel
Di python, variabel dapat diberi value dari satu jenis kemudian diberi value dari jenis lain

In [23]:
a=23.4
b=True
c="ABCDEFG"
d=5

In [25]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'float'>
<class 'bool'>
<class 'str'>
<class 'int'>

In [26]:
a=23.4
print(a)
a="STRING"
print(a)

23.4
STRING

# Nama Variabel
-Panjangnya tidak dibatasi
-Bisa terdiri dari huruf besar dan keci(A-Z,a-z), digit(0-9) dan garis bawah(_)
-Karakter pertama tidak boleh berupa digit/angka

In [27]:
A = "dfgh"
print(a)
print(A)

STRING
dfgh

In [28]:
nama_depan = "Nur"
umur = 20
has_laptops = True
print(nama_depan,umur,has_laptops)

Nur 20 True

In [29]:
10naga = 123

SyntaxError: invalid syntax (1385608052.py, line 1)

In [31]:
naga10 = 123
print(naga10)

123

# Operators

In [39]:
#penjumlahan
5+7

12

In [38]:
#pengurangan
4 - 7

-3

In [37]:
#perkalian
3 * 5

15

In [35]:
#pembagian
7/10

0.7

In [40]:
#perpangkatan
2**3

8

In [42]:
#modulus/sisa bagi
15%7

1

In [43]:
a=5
b=6
print(a*b)
print(a+b-2)

30
9

## Comparison : membandingkan antara 2 nilai

In [44]:
a=10
b=20
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)
print(a < b)

False
True
True
False
True

# String Manipulation

In [45]:
a = 'abc'
b = 'def'
c = 'hij'

In [48]:
#Operasi penjumlahan(+)
print(a + b) #digabung tanpa spasi
print(a + " " + b) #menambah spasi dg menambah string setelah a

abcdef
abc def

In [49]:
#Operasi perkalian(*)
x = 'abc'
x * 4

'abcabcabcabc'

In [50]:
# in operator : untuk mengecek apakah variabel(s) ada di dalam string
s = 'foo'
s in "That is good for us"

False

In [52]:
#membandingakn string : berdasarkan urutan abjad
"one" > "two"

False

In [53]:
"a" < "b"

True

In [54]:
"alif" < "zahra"

True

In [55]:
#Case Conversion
s = 'hackTIV8'
#Capitalize
print(s.capitalize())
#Lower
print(s.lower())
#Swapcase
print(s.swapcase())
#Title
print(s.title())
#Uppercase
print(s.upper())

Hacktiv8
hacktiv8
HACKtiv8
Hacktiv8
HACKTIV8

# List

In [56]:
list1 = [1,2,3,4,5]
list2 = ["abc","def","hij"]
list3 = ["abc",3.4,1, True]

In [57]:
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5]
['abc', 'def', 'hij']
['abc', 3.4, 1, True]

In [61]:
#memanggil anggota dari list, urutan dimulai dari 0
list1[0]

1

In [64]:
list2[2]

'hij'

In [65]:
#jika negatif maka dihitung dari belakang
list2[-2]

'def'

In [66]:
list2[-1] == list2[2]

True

In [68]:
list3[0:3]

['abc', 3.4, 1]

In [69]:
#Operasi + dan *
list1 + list2

[1, 2, 3, 4, 5, 'abc', 'def', 'hij']

In [70]:
list2 + ['nur','khofi','fah']

['abc', 'def', 'hij', 'nur', 'khofi', 'fah']

In [72]:
list2*3

['abc', 'def', 'hij', 'abc', 'def', 'hij', 'abc', 'def', 'hij']

In [73]:
print(len(list1)) #menghitung banyak/panjang data
print(min(list1))
print(max(list1))

5
1
5

In [74]:
#menghapus anggota dalam list
del list2[1]
print(list2)

['abc', 'hij']

In [75]:
#mengubah anggota list
list2 = ["abc","def","hij"]
list2[1] = 2
print(list2)

['abc', 2, 'hij']

In [77]:
#mengubah beberapa elemen yg bersebelahan sekaligus
a = ['nur','kho','fi','fah']
print(a[1:3]) 
a[1:3] = [1.1,2.2,3.3]
print(a)

['kho', 'fi']
['nur', 1.1, 2.2, 3.3, 'fah']

# Tuples
versi sederhana dari list, menggunakan tanda kurung(), dan tidak bisa diubah.

In [78]:
tuple1 = [1,2,3,4,100]
tuple2 = ["abc", "def", "hij", "klm", "nop"]
print(tuple1)
print(tuple2)

[1, 2, 3, 4, 100]
['abc', 'def', 'hij', 'klm', 'nop']

In [79]:
tuple2[2]

'hij'

In [80]:
(a,b,c,d,e) = tuple1

In [81]:
print(a)
print(b)
print(c)

1
2
3

# Dictionary
lebih dikenal sbg associative array, terdiri dari key-value pairs.

In [82]:
dictionary1 = {
    'pertama':1,
    'kedua':2,
    'ketiga': 3,
    'keempat': 4
}

In [83]:
dictionary1['ketiga']

3

In [84]:
dictionary2 = {
    'London': 'Arsenal FC',
    'Liverpool': 'Liverpool FC',
    'Manchaster': 'Manchaster City'
}

In [85]:
dictionary2['London']

'Arsenal FC'

In [87]:
# jika mau mengubah isis
dictionary2['London'] = 'Spurs'
dictionary2

{'London': 'Spurs',
 'Liverpool': 'Liverpool FC',
 'Manchaster': 'Manchaster City'}

In [88]:
#jika ingin menghapus anggota dictionary
del dictionary2['London']
dictionary2

{'Liverpool': 'Liverpool FC', 'Manchaster': 'Manchaster City'}

In [89]:
data_diri ={}

In [90]:
print(data_diri)
print(type(data_diri))

{}
<class 'dict'>

In [91]:
data_diri['nama_depan'] = "Nur"
data_diri['nama_belakang'] = "Khofifah"
data_diri['umur'] = 20
data_diri['asal'] = "Pemalang"
data_diri['makanan_favorit'] = ['soto','pecel']

In [92]:
print(data_diri)

{'nama_depan': 'Nur', 'nama_belakang': 'Khofifah', 'umur': 20, 'asal': 'Pemalang', 'makanan_favorit': ['soto', 'pecel']}

In [93]:
data_diri['makanan_favorit']

['soto', 'pecel']

In [95]:
dictionary1.items()

dict_items([('pertama', 1), ('kedua', 2), ('ketiga', 3), ('keempat', 4)])

In [96]:
dictionary1.keys()

dict_keys(['pertama', 'kedua', 'ketiga', 'keempat'])

In [97]:
dictionary1.values()

dict_values([1, 2, 3, 4])

# Line Continuation
digunakaan misal satu pernyataan dlm kode python sangat panjang.

In [102]:
person1_age = 42
person2_age = 16
person3_age = 71

person1_age >= 18 and person1_age <= 65 or  (person2_age <=18 and person2_age <= 65)

True

In [100]:
(
    (person1_age >= 18 and person1_age <= 65) or 
(person2_age <=18 and person2_age <= 65)
)

True